{% extends '@MauticCore/Default/content.html.twig' %}

{% block headerTitle %}{% endblock %}

{% block content %}

    <div class="container">
        <form method="post">
            <table border="1" cellpadding="5">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                {% for item in menu_items %}
                    <tr>
                        <td>{{ item.id }}
                            <input type="hidden" name="items[{{ item.id }}][id]" value="{{ item.id }}">
                        </td>
                        <td>
                            <input type="text" name="items[{{ item.id }}][name]" value="{{ item.name }}">
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button type="submit">Speichern</button>
        </form>
    </div>
{% endblock %}


